body {
  background-color: wheat;
  padding-top: 50px;
}

h1{
  color: black;
}

a:link{
  color:blue;
}

a:visited{
  color:purple;
}

a:hover {
  color: red;
}

.topnav {
  position: fixed;
  left: 0;     
  top: 0;    
  width: 100%;
  max-width: 100%;
  display: inline-block;
  background-color: yellow;
  white-space: nowrap;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active-page{
  background-color:aqua;
}

img {
  width: 100%;
}

#time{
  background-color: green;
  color: orange;
  font-weight: bold;
}

#minute{
  background-color: blue;
  color: red;
  font-weight: bold;
}

#hide{
  background-color: oldlace;
  color: burlywood;
  font-weight: bold;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: red;
  text-align: center;
}

ul li {
  display: inline;
}

#inLine {
  display: inline-block;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align:center;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* Dropdown Button */
.dropbtn {
  background-color: yellow;
  color: green;
  padding: 14px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 100%;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: greenyellow;
}

.column::first-letter {
  font-size: 400%;
  line-height: 100%;
  float: left;
  font-family: serif;
  margin-right: 0.25em;
}