body {
  background-color: wheat;
  padding-top: 50px;
}

h1{
  color: black;
}

a:link{
  color:blue;
}

a:visited{
  color:purple;
}

a:hover {
  color: red;
}

.topnav {
  position: fixed;
  left: 0;     
  top: 0;    
  width: 100%;
  background-color: yellow;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active-page{
  background-color:aqua;
}

img {
  width: 100%;
}

#time{
  background-color: green;
  color: orange;
  font-weight: bold;
}

#minute{
  background-color: blue;
  color: red;
  font-weight: bold;
}

#hide{
  background-color: oldlace;
  color: burlywood;
  font-weight: bold;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: red;
  text-align: center;
}

iframe{
  height: 50vh;
  width: 55vh;
}